*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: black;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.game-container {

  .p-button {
    background: white;
    border-color: white;
    color: #F04A22;

    &:not(:disabled):active, &:not(:disabled):hover {
      background: rgb(228, 228, 228);
      border-color: rgb(224, 224, 224);
      color: #F04A22;
    }
  }

  .p-knob svg {
    &:focus {
      outline: 0;
    }
  }
}

.p-dialog-mask {
  .p-dialog {
    background: white;
    color: black;
  }

  .p-button {
    background: #F04A22;
    border-color: #F04A22;
    color: white;
  
    &:not(:disabled):active, &:not(:disabled):hover {
      background: #F04A22;
      border-color: #F04A22;
      color: rgb(228, 228, 228);
    }
  }
}

